.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invalid {
  border: 1px solid rgba(255, 0, 0, 0.8);
  padding: 1em;
}

.name {
  padding: 1em;
  outline: none;
}

.submitBtn {
  padding: 0.5em;
  color: #ffffff;
  border-radius: 4px;
  background-color: rgba(0, 102, 255, 0.8);
  cursor: pointer;
  margin-top: 20px;
}

.submitBtn:hover {
  background-color: rgba(10, 138, 250, 0.817);
}
