.quiz {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.quiz-container {
  width: 500px;
}
.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  height: 500px;
  padding: 1em;
  background-color: #4f8aec;
  color: #ffffff;
}

.options {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.option {
  width: 100px;
  height: 30px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  color: #000000;
  line-height: 30px;
}

.option:hover {
  background-color: lightgray;
}
