*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  background-color: rgb(33, 37, 41);
  padding: 1em;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /* justify-content: sp; */
}

.links {
  padding: 1em;
  color: #ffffff;
  text-decoration: none;
}

.activeLink {
  /* padding: 1em; */
  color: #da3d43;
}

a {
  text-decoration: none;
  color: inherit;
}
