*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  background-color: rgb(33, 37, 41);
  padding: 1em;
  gap: 10px;
  /* justify-content: sp; */
}

.link{
  padding: 1em;
  color: #ffffff;
}

.activeLink{
  padding: 1em;
  color: #DA3D43;
}
